@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bona+Nova:ital@0;1&display=swap');

:root {
  --font-family-1: 'Bebas Neue', helvetica, arial, sans-serif;
  /* --font-family-2: 'Bona Nova', 'Times New Roman', serif; */
  --font-family-2: 'Palatino', 'Times New Roman', serif;
  --font-size: 16px;
  --font-size-h1-sans-mobile: 6rem;
  --font-size-h2-sans-mobile: 0.8rem;
  --spacing: 2rem;
  --margin-h1: 3rem;

  /** Screen **/
  --min-screen-width: 320px;

  /** Colors  https://coolors.co/f4f7be-e5f77d-deba6f-823038-1e000e **/
  --color-primary-light: #F4F7BE;
  --color-secondary-light: #E5F77D;
  --color-thirdly: #DEBA6F;
  --color-primary-dark: #823038;
  --color-secondary-dark: #1E000E;
}

* {
  margin: 0;
  padding: 0;
  z-index: 1;
  box-sizing: border-box;
}

html {
  font-family: var(--font-family-2);
  line-height: 1.15;
  font-size: var(--font-size);
  min-width: var(--min-screen-width);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: var(--color-secondary-dark);
  background-color: var(--color-secondary-dark);
  overflow-x: hidden;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: calc(calc(var(--font-size) * 0.7) + 1vw);
  }

  .final_background {
    background-image: url(https://webdevelop.fr/bg-1024.jpg);
  }

  .quote {
    width: 80%;
  }

  .main {
    height: 340vh;
  }

  #who_am_i {
    color: var(--color-primary-dark);
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: calc(var(--font-size) + 1vw);
  }

  .final_background {
    background-image: url(https://webdevelop.fr/bg-fullhd.jpg);
  }

  .quote {
    width: 70%;
  }

  #my_work,
  footer {
    justify-content: flex-end;
    align-items: center;
  }

  #who_am_i {
    justify-content: flex-start;
    align-items: center;
  }

}

@media screen and (min-width: 1900px) {
  .quote {
    width: 60%;
  }

  .final_background {
    background-image: url(https://webdevelop.fr/bg-4k.jpg);
  }
}

@media (orientation: portrait) {
  .moon {
    width: calc(300% * 0.4) !important;
    height: calc(200% * 0.4) !important;
    left: 75% !important;
    z-index: 6 !important;
    bottom: 40% !important;
  }
}

body {
  height: 100vh;
}

ul,
li {
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
  list-style: none;
}

button,
a {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
}

a {
  color: var(--color-primary-light);
  transition: border-bottom 0.5s ease;
  border-bottom: 1px solid transparent;
}

h1 {
  font-family: var(--font-family-1);
  font-weight: normal;
  line-height: 68%;
  letter-spacing: -0.02em;
  font-size: var(--font-size-h1-sans-mobile);
  margin: 0.67em 0;
}

h2 {
  font-family: var(--font-family-2);
  font-size: var(--font-size-h2-sans-mobile);
}

h3 {
  font-family: var(--font-family-1);
  font-size: calc(var(--font-size-h1-sans-mobile)*0.5);
  font-weight: bold;
  letter-spacing: -0.01em;
  padding-bottom: var(--spacing);
}

.final_background {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-secondary-dark);
}

main>* {
  min-width: 100%;
  display: flex;
}

header,
footer {
  background-color: transparent;
  color: var(--color-secondary-light);
  vertical-align: middle;
}

footer {
  overflow: hidden;
  z-index: 5;
}

header {
  position: fixed;
  z-index: 0;
  height: 100vh;
}

.header-container {
  position: relative;
  display: flex;
  background-color: transparent;
  height: 100vh;
  pointer-events: none;
}

#nav-menu {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 7;
  height: 100%;
  width: 100%;
  left: -100%;
  top: 0%;
  font-family: var(--font-family-1);
  background-color: var(--color-primary-dark);
  /* background-color: blue; */
  /* opacity: 0; */
  /* transition: pointer-events auto; */
  pointer-events: auto;
}

#nav-menu a {
  margin: 10px;
  color: var(--color-secondary-light);
}

#nav-menu a:hover {
  border-bottom: solid 1px var(--color-secondary-light);
}

#top-menu {
  position: fixed;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  z-index: 8;
  background-color: transparent;
}

#top-menu>button {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  padding-top: 3px;
  background-color: var(--color-secondary-light);
  border-radius: 25px;
  font-family: var(--font-family-1);
  font-size: 16px;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
}

#top-menu>button:hover {
  opacity: 0.8;
}

#top-menu #nav {
  font-size: 30px;
  z-index: 4;
}

header .parallax-heading {
  width: 100%;
  min-height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.parallax-heading>h1 {
  align-self: center;
  margin: var(--spacing) 0 0 0;
}

.parallax-heading>h1.big_heading {
  font-size: calc(var(--font-size-h1-sans-mobile) * 1.5);
}

.parallax-heading>h2 {
  align-self: center;
  font-style: italic;
  font-weight: normal;
  letter-spacing: -0.03em;
  margin-top: var(--margin-h2) 0 0 0;
}

#who_am_i {
  color: var(--color-primary-dark);
}

#who_am_i,
footer {
  justify-content: flex-start;
  align-items: center;
}

#who_am_i .quote {
  background-color: var(--color-primary-light);
}

#who_am_i h3 {
  background-color: var(--color-primary-light);
  color: var(--color-secondary-dark);
}

#who_am_i a {
  color: var(--color-secondary-dark);
}

#who_am_i a:hover {
  color: var(--color-secondary-dark);
  border-bottom: 1px solid var(--color-secondary-dark);
}

#my_work {
  justify-content: flex-end;
  align-items: center;
  color: var(--color-primary-light);
}

#my_work .quote {
  background-color: var(--color-primary-dark);
}

#my_work a {
  color: var(--color-secondary-light);
}

#my_work a:hover {
  border-bottom: 1px solid var(--color-secondary-light);
}

footer .quote {
  background-color: var(--color-secondary-dark);
  z-index: inherit;
}

footer #social {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

footer #social>* {
  padding: 0;
  margin: 0;
}

footer #social a {
  height: 15vh;
  width: 15vh;
  filter: invert(93%) sepia(16%) saturate(594%) hue-rotate(360deg) brightness(105%) contrast(94%);
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;

  opacity: 1;
}

footer #social a:hover {
  opacity: 0.5;
}

.quote p {
  margin: 0;
  padding: 0;
  text-align: justify;
}

.quote {
  padding: calc(var(--spacing)*2) var(--spacing);
  margin: var(--spacing);
  border-radius: 3px;
}

.moon {
  position: fixed;
  opacity: 0;
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  width: calc(300% * 0.8);
  height: calc(200% * 0.8);
  z-index: 4;
  left: -10%;
  bottom: -40%;
}
